<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dana.puzzle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".PuzzleApplication"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="lollipop">
        <activity android:name=".multiplay.MultyGameCompletedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".game.SelectionPeicesSoloActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".multiplay.MultiGameActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".multiplay.SelectionPeicesActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".multiplay.MatchPlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".history.HistoryActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".game.GameCompletedActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".LauncherActivity"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".game.SoloPlayerImageListActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />
        <activity
            android:name=".game.GameActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            tools:targetApi="n" />

        <service
            android:name=".MediaPlayerService"
            android:enabled="true"
            android:exported="false"
            android:permission="true" />


        <receiver
            android:name=".tool.NetworkStateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/google_app_ad_id" />
    </application>

</manifest>